#sidebar{
    position: fixed;
    left: 0;
    top: 0;
    width: 10em;
    height: 100%;
    border: 1px solid lightgray;
}

.main-icon{
    margin-top: 30px;
    margin-left:20px;
    margin-bottom: 30px;
}

.menu-list {
    margin-left: 20px;
}

#profile-content{
    position:relative;
    left:10em;
}

#profile-header{
    display:flex;
}

#content-container{
    display:flex;
    flex-direction: column;
}

#content-container > div:nth-child(2),
#content-container> div:nth-child(3){
    display: flex;
}

