

#sidebar{
    /* background-color: blanchedalmond; */
    position: fixed;
    left: 0;
    top: 0;
    width: 10em;
    height: 100%;
    border: 1px solid lightgray;
}

.main-icon{
    margin-top: 30px;
    margin-left:20px;
    margin-bottom: 30px;
}

.menu-list {
    margin-left: 20px;
}


main {
    margin-left: 10em;
    /* background-color: aqua; */
    height: 100vh;
    display: flex;
    justify-content: center;
}
.Explore{
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 0.5px;
    /* background-color: beige; */
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 320px 320px ;
    justify-content: center;
    
}
.Explore-padding{
    height: 2.5em;
    /* background-color: azure; */
}

/*
.Explore-item:nth-child(2n){
    background-image: url(https://picsum.photos/320/320?random=1
);

}
.Explore-item:nth-child(2n+1){
    background-image: url(https://picsum.photos/320/320?random=2
);

}
*/


.Explore-item{
    width: 100%;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow:hidden;

}
.Explore-item::after{
    content: "";
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
}
.Explore-item:hover::after{
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}
.Explore-item:hover .overlay {
    display: flex;
}

/* hover 효과 무시 */
.Explore-item.no-overlay:hover .overlay {
    display: none;
}


.icon{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
}

.overlay{
    position: absolute;
    inset: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    z-index: 2;
}


.modal{
    
    display: none;
    position: absolute;

    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,0.4);


}
.is-open{
    display: grid;
    z-index: 3;
}
.modalCloseBtnBox{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 8px 8px 8px 8px;
}

.modalBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 92vh;
    display: flex;
    justify-content: center;
}
.modalMedia{
    width: 30%;
    height: 100%;
    background-color: black;
}
.modalContent{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.modalContent > .modalText .modalContent > .modalComent{
    width: 100%;
    height: 25%;
    background-color: white;
}
.content{
    border: 1px black solid;
    height: 78%;
    display: flex;
    flex-direction: column;
}
.interaction{
    border: 1px black solid;
    height: 22%;
    flex-direction: column;
}
.introduce{
    background-color: white;
    height: 15%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.commentBox{
    background-color: white;
    height: 85%;
}
.introduce-icon{
    width: 12%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
}

.introduce-text{
    width: 78%;
    display: flex;
    align-items: center;
}
.option-logo{
    width: 10%;
    border: black 1px solid;
}

.profile{
    width: 65%;
    height: 60%;
    top: 50%;
    left: 50%;
    border-radius: 50%;
}